<html>
  <head>
    {{ content_for_header }}
    {{ 'application.css' | asset_url | stylesheet_tag }}
    {{ 'base.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="w-[1224px] mx-auto">
    {% sections 'header-group' %}
    <main role="main" tabindex="-1">
      {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}
    <!-- Font-Awesome -->
    <script src="https://kit.fontawesome.com/cd37335466.js" crossorigin="anonymous"></script>
  </body>
</html>
